<p id="notice"><%= notice %></p>

<h1>Matches</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Match Name</th>
      <th>Player 1</th>
      <th>Player 2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.name %></td>
        <td><%= Member.find(match.member1).name %></td>
        <td><%= Member.find(match.member2).name %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Enter Match results', edit_match_path(match) %></td>
        <td><%= link_to 'Cancel Match', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path, class:"btn btn-dark" %>
