<%# <p id="notice"><%= notice %>

<p>
  <strong>Name:</strong>
  <%= @match.name %>
</p>

<p>
  <strong>member1:</strong>
  <%= @match.member1 %>
</p>

<p>
  <strong>Member2:</strong>
  <%= @match.member2 %>
</p>

<p>
  <strong>Result:</strong>
  <%= @match.result %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
